<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!-- 开启自动扫描Bean -->
	<context:component-scan base-package="com.lovo"></context:component-scan>
	
	<!-- 配置数据源连接池(使用C3P0数据源) -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<!-- 设置数据库连接驱动 -->
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<!-- 设置数据URL地址 -->
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test?characterEncoding=UTF-8"></property>
		<!-- 设置数据库用户名 -->
		<property name="user" value="root"></property>
		<!-- 设置数据库密码 -->
		<property name="password" value="1122"></property>
		
		<!-- 设置连接池最大连接数 -->
		<property name="maxPoolSize" value="20"></property>
		<!-- 设置连接池最小连接数 -->
		<property name="minPoolSize" value="1"></property>
		<!-- 设置初始化连接池连接数 -->
		<property name="initialPoolSize" value="2"></property>
		<!-- 设置数据库连接池连接超时时长 -->
		<property name="maxIdleTime" value="5000"></property>
		<!-- 设置连接池检测线程间隔时长 -->
		<property name="idleConnectionTestPeriod" value="3000"></property>
		<!-- 设置连接池连接耗尽批量创建连接数 -->
		<property name="acquireIncrement" value="2"></property>
	</bean>
	<!-- 配置JDBC事务管理 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 配置SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- 设置实体类别名 -->
		<property name="typeAliasesPackage" value="com.lovo.entity"></property>
	</bean>
	<!-- 配置Mapper扫描模式(所有的Mapper必须继承SQLMapper接口) -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 设置Mapper扫描包路径 -->
		<property name="basePackage" value="com.lovo.mapper"></property>
		<!-- 设置SqlMapper接口路径 -->
		<property name="markerInterface" value="com.lovo.mapper.SqlMapper"></property>
	</bean>
</beans>